recursive-include runeextract *.py
include README.md
include LICENSE
include pyproject.toml
include setup.py
include CHANGELOG.md
graft docs
prune .github
prune .pytest_cache
prune __pycache__
global-exclude *.pyc
global-exclude __pycache__
